@{
    ViewBag.Title = "ResetUserPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Password Has Been Reset!</h2>

<div style="padding-top: 15px">
    The password for user @Html.Raw(ViewBag.midLastReset) 
    was reset to <span style="color: red; font-weight: bold">@Html.Raw(ViewBag.tempPassword)</span>.
</div>

<p>
    Please instruct the user to change their password the next they log on.
</p>
