<div>
    <p>
        @Html.ActionLink("View all faculty member tasks", "ViewAllTasks", "ViewTasks")
    </p>
    <p>
        @Html.ActionLink("View one particular faculty member's tasks", "ViewFacultyTasks", "ViewTasks")
    </p>
</div>
